<mat-sidenav-container>
	<mat-sidenav #sideNav mode="side" opened>
		<div class="sidenav">
			<div class="logo">
				<a href="/" class="simple-text logo-mini">
					<div class="logo-img">
						<img
							src="https://angular.io/assets/images/logos/angular/angular.png"
						/>
					</div>
				</a>
				<a href="/" class="simple-text logo-normal">
					How much did i work
				</a>
			</div>
			<ul class="nav">
				<li class="active">
					<a routerLink="/">
						<i class="fas fa-chart"></i>
						New one
					</a>
				</li>
				<li>
					<a routerLink="/week">
						<i class="fas fa-random"></i>
						Week
					</a>
				</li>
				<li>
					<a routerLink="/router">
						<i class="fas fa-money-check-alt"></i>
						Manage
					</a>
				</li>
			</ul>
		</div>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
